{% extends 'base.html' %}

{% block content %}
<div class="jumbotron" id="homepage">
    <h1>Welcome to the blog Sarakana Uday Kumar</h1>
    <p>He was studying in Bharath University Chennai Mechanical Branch.
        He is so talented student that he working on the rocket science to make rockets at very cheap cost,
        in few days he is going for internship with Elon Musk Literally with elon musk.
        now he is in meachanical fourth year present he working in project in college for making best aerodynamic cars.</p>
</div>
{% endblock %}